.deals {
    background-color: #FEFCFB;
    
    padding-top: 50px;
    padding-bottom: 50px;
}

.deals__title {
    font-family: 'Volkhov', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #222222;
    line-height: 1.3;

    margin-bottom: 24px;
}

.deals__text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #999999;
    line-height: 1.5;

    margin-bottom: 55px;
}

.card__slider {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
}

.card__slider::-webkit-scrollbar {
  display: none;
}

.deals
.card {
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    
    width: 100%;
    max-width: 270px;
    
    margin-bottom: 10px;
    
    scroll-snap-align: start;
}

.deals .card:hover {
    box-shadow: 0 10px 30px rgba(250,116,54,0.25);
}

.deal-image__wrap {
    position: relative;
    overflow: hidden;
}

.deal-card__image {
    display: block;

    width: 100%;
    min-width: 250px;
}

.card__overlay {
    position: absolute;
    inset: 0;

    background: rgba(0,0,0,0.35);
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.card-overlay__btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;

    background-color: #FA7436;
    border: none;
    border-radius: 7px;

    padding: 10px 18px;

    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);
}

.overlay-btn__link {
    text-decoration: none;
    color: #FFFFFF;
}

.card:hover .card__overlay {
    opacity: 1;
    visibility: visible; 
}

.deal-card-subtitle__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 0 15px;

    margin-top: 30px;
}

.deal-card__subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #222222;
}

.deal-card__rating {
    display: flex;
    gap: 5px;
    align-items: center;
}

.rating__svg {
    width: 100%;
    max-width: 11px;
}

.rating {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #666666;
}

.deal-card-location__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px 30px 15px;
}

.deal__location {
    display: flex;
    align-items: center;
    gap: 5px;
}

.location__svg {
    width: 100%;
    max-width: 12px;
}

.deal__city {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #666666;
}

.deal-card-price__wrap {
    display: flex;
    gap: 15px;
    align-items: center;
}

.card__sale {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #666666;

    text-decoration: line-through;
    text-decoration-color: #666666;
}

.card__price {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #FA7436;
    background-color: #FFE7DB;

    border-radius: 5px;

    padding: 4px 2px;
}

.deals .slider__nav {
    display: none;
}


@media (min-width: 768px) {
    .deals__title {
        font-weight: 700;
        font-size: 48px;
        text-align: center;
    }

    .deals__text {
        font-weight: 400;
        font-size: 18px;
    }
}


@media (min-width: 1279px) {
    .deals {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .deals-text__wrap {
        display: flex;
        justify-content: center;
    }

    .deals__text {
        max-width: 430px;

        text-align: center;
    }

    .deals 
    .card {
        width: 100%;
        max-width: 270px;

        cursor: pointer;
    }

    .deal-card__image {
        max-width: 270px;
    }

    .card__dots {
        display: none;
    }

    .deals .slider__nav {
        display: flex;
        justify-content: center;
        gap: 20px;

        margin-top: 45px;
    }

    .slider__arrow {
        width: 100%;
        max-width: 40px;

        cursor: pointer;
    }

    .slider__arrow:disabled {
        cursor: not-allowed;
    }

}