.hero {
    background-color: #FEFCFB;
    position: relative;

    display: flex;
    flex-direction: column;

    padding-bottom: 70px;
}

.hero__image-wrap {
    text-align: center;

    margin-bottom: 50px;
}

.hero__decor-wrap{
    z-index: 1;
    inset: 0;
    position: absolute;

    margin-top: 30px;
    
    pointer-events: none;
}

.hero__decor {
    width: 100%;
    max-width: 450px;
    object-fit: cover;
}

.hero__image {
    text-align: center;

    width: 100%;
    max-width: 380px;

    position: relative;
    z-index: 2;

    margin-top: 110px;
}

.hero__card {
    position: absolute;
    background-color: #FFFFFF;
    
    padding: 5px 8px;
    
    border-radius: 11px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);

    z-index: 3;
   
    display: flex;
    align-items: center;
    gap: 7px;
} 

.first__card {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: #444444;
    line-height: 1.7;

    top: 8%;
    left: clamp(8px, 1%, 24px);

    width: auto;
    max-width: 80px;

    text-align: left;
}

.second__card {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #444444;
    line-height: 1.5;

    right: clamp(8px, 3%, 28px);
    top: 16%;

    width: auto;
    max-width: 115px;

    text-align: left;
}

.third__card {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #444444;
    line-height: 1.7;

    bottom: 75%;
    left: clamp(8px, 5%, 40px);

    width: auto;
    max-width: 150px;

    text-align: left;
}

.card__svg {
    width: 100%;
    max-width: 20px;
}

.card__text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #666666;
    line-height: 1.5;
}

.hero__title {
    font-family: 'Volkhov', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #222222;
    line-height: 1.3;

    width: 100%;
    max-width: 450px;

    margin-bottom: 30px;
}

.hero__text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #666666;
    line-height: 1.4;

    margin-bottom: 50px;
}

.hero__btn-wrap {
    display: flex;
    justify-content: center;
}

.hero__btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 19px;

    background-color: #FFFFFF;
    border: 1px solid #FA7436;
    border-radius: 4px;
    
    padding: 17px 27px;
    margin-bottom: 55px;
}

.hero__btn-link {
    color: #FA7436;
    text-decoration: none;
}

.hero__search {
    display: flex;
    flex-direction: column;
    gap: 25px;

    background-color: #FFFFFF;
    box-shadow: 0 0 80px rgba(0,0,0,0.15);
    border-radius: 10px;

    width: 100%;
    max-width: 250px;

    padding: 25px;
    margin-bottom: 15px;
}

.search__item {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: 1.8;
    text-align: left;

    margin-bottom: 15px;
}

.search__title-wrap {
   display: flex;
    gap: 10px;
}

.search__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #222222;
}

.hero__search-arrow {
    width: 100%;
    max-width: 13px;
    transition: transform 0.3s;
}

.hero__search-arrow.rotate {
    transform: rotate(180deg);
}

.search__dropdown-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: #E5E5E5;
    color: #222222 ;

    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
    border-radius: 2px;

    display: none;

    margin-top: 8px;
    padding: 12px;

    position: absolute;
    z-index: 20;

    left: 0;
    top: 50%;
    width: 100%;
    max-width: 200px;

    pointer-events: auto;
}

.search__dropdown-text.active {
    display: block ;
    opacity: 1;
}

.search__text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #999999;
}

.search__btn-wrap {
    text-align: center;
}

.search__btn {
    background-color: #FA7436;
    border: none;
    border-radius: 6px;

    padding: 14px 25px;
    margin-bottom: 20px;
}

.search__btn-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #FFFFFF;
}


@media (min-width: 768px) {
    .hero__card {
    position: absolute;
    background-color: #FFFFFF;
    
    padding: 10px 15px;
    
    border-radius: 15px;
} 

  .first__card {
    font-size: 14px;
    line-height: 1.5;

    max-width: 100px;

    left: 160px; 
    top: 10%;
  }  

  .second__card {
    font-size: 14px;

    max-width: 135px;

    right: 100px;
    top: 250px;
  }

  .third__card {
    line-height: 1.7;
    left: 100px;
    bottom: 700px;
  }

  .card__text {
    font-size: 12px;
  }

  .card__svg {
    max-width: 25px;
  }

  .hero__title {
    font-weight: 700;
    font-size: 48px;

    max-width: 650px;

    text-align: center;
  }

  .hero__text {
    font-weight: 400;
    font-size: 22px;
  }

  .hero__search {
    max-width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0;
    padding: 15px;
  }

  .search-item__wrap {
    display: flex;
    gap: 30px;
  }
}


@media (min-width: 1279px) {
    .hero__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }

    .hero__title {
        max-width: 650px;
    }

    .hero-text__wrap {
        display: flex;
        flex-direction: column;
    }

    .hero__title {
        font-size: 60px;
        text-align: left;
    }

    .hero__text {
        max-width: 480px;
        line-height: 2;
        font-size: 19px;
    }

    .hero__btn-wrap {
       display: block;
    }

    .hero__image-wrap {
        display: flex;
        justify-content: flex-start;
        order: 2;
        flex: 0 0 45%;

        position: relative;
    }

    .hero__image {
        max-width: 500px;

        position: relative;
        transform: translateY(-10%);
        z-index: 2;
        top: 0;
    }

    .hero__decor {
        position: absolute;
        right: 0;
        top: -15%;
        transform: translateX(14%);
        max-width: 660px;
        width: auto;
    }

    .hero__card {
        position: absolute;
        z-index: 3;
    }

    .first__card {
        left: 0;
        top: 15%;
    }

    .second__card {
        right: 0;
        top: 40%;
    }

    .third__card {
        bottom: 25%;
        left: 0;
    }

    .hero__search {
        max-width: 800px;
        padding-bottom: 15px;
        margin: 0 auto;

    }

    .search__item {
        display: flex;
    }
    
    .search-item__wrap {
        display: flex;
        flex-direction: row;
        gap: 80px;
        align-items: center;

        text-align: center;
    }

    .search__btn-wrap {
        display: flex;
        align-items: center;
    }
}