@import url("./Global.css");

@import url("./Dots.css");

@import url("./Navigation__section.css");
@import url("./Hero__section.css");
@import url("./Things-to-do__section.css");
@import url("./Deals__section.css");
@import url("./Vacation__section.css");
@import url("./Testimonials__section.css");
@import url("./Blog__section.css");
@import url("./Subscribe__section.css");
@import url("../css/Footer__section.css");