.nav-bar {
    background-color: #FEFCFB;

    display: flex;
    justify-content: space-between;

    padding-top: 25px;

    position: relative;
}

.nav__logo {
    width: 100%;
    max-width: 160px;
}

.nav-burger__menu {
    background-color: transparent;
    border: none;
}

.burger__svg {
    display: block;
    width: 100%;
    max-width: 50px;
}

.nav__wrap {
    display: none;

    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    max-width: 300px;
    height: auto;
    background-color: #E5E5E5;

    transform: translateX(100%);
    transition: transform 0.9s ease-in-out;
    
    z-index: 100;

     padding: 10px;
}

.nav__wrap.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    transform: translateX(0);
}

.nav-items__link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #222222;
}

.nav__item {
    margin-top: 15px; 
}

.nav__auth {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav__login {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #FD8D3A;
}

.nav__signup {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #FA7436;
    border: none;
    border-radius: 3px;

    padding: 7px 10px;
}


@media (min-width: 1279px) {
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-bottom: 90px;
    }

    .nav-burger__menu {
        display: none;
    }
    .nav__wrap {
        transform: none;
        visibility: visible;
        position: static;
        overflow: visible;

        transition: none;

        background-color: transparent;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        width: 100%;
        max-width: 750px;

        padding: 30px 0;
        margin: 0
    }

    .nav__list {
        display: flex;
        align-items: center;
        gap: 30px;
        padding-bottom: 10px;
    }

    .nav__auth {
        display: flex;
        gap: 50px;
    }

    .nav__signup {
        padding: 13px 50px;
    }
}