.testimonials {
    background-color: #F7F8FC;

    padding-top: 80px;
    padding-bottom: 250px;
}

.testimonials__title {
    font-family: 'Volkhov', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #222222;
    line-height: 1.3;

    margin-bottom: 24px;
}

.testimonials__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    line-height: 1.5;

    margin-bottom: 50px;
}

.testimonials .slider__nav {
    display: none;
}

.testimonials__stack {
    position: relative;
    overflow: visible;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
}

.testimonial__card {
    position: absolute;
    transition: transform 0.4s ease, opacity 0.4s ease;
    
    left: 20px;
} 

.testimonial__card.active {
    z-index: 2;
    transform: translateY(0) scale(1);
    box-shadow: 0 20px 60px rgba(0,0,0,0.28);
    border-radius: 10px;
}

.testimonial__card.second {
    transform: translateY(60px) scale(0.96);
    z-index: 1;

    left: 50px;
    box-shadow: 0 40px 80px rgba(0,0,0,0.15);
    border-radius: 10px;
    opacity: 0.7;
}

.testimonial__icon {
    position: absolute;
    top: -30px;
    left: -15px;

    width: 100%;
    max-width: 50px;
}

.testimonial-author__wrap {
    background-color: #FFFFFF;
    padding: 24px 34px;
    border-radius: 10px; 
    overflow: hidden;
}

.testimonial-author__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #444444;
    line-height: 1.9;

    width: 100%;
    max-width: 350px;

    margin-bottom: 34px;
}

.author__name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #222222;

    margin-bottom: 5px;
}

.author__city {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #999999;
}

.testimonials__decor {
    display: none;
}


@media (min-width: 768px) {

    .testimonials {
        padding-bottom: 300px;
    }

    .testimonials__title {
        font-weight: 700;
        font-size: 48px;
        text-align: center;
    }

    .testimonials__text {
        font-size: 18px;
        text-align: center;
    }

    .testimonials__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
    } 

    .testimonials__stack {
        flex: 0 0 60%;
        max-width: 60%;
    }
}


@media (min-width: 1279px) {

    .testimonials {
        position: relative;
        overflow: hidden;
    }

    .tesrimonials__content {
        display: flex;
        gap: 120px;
    }

    .testimonials__title {
        max-width: 387px;
    }

    .testimonials__description {
        flex: 0 0 400px;
    }

    .testimonials__title {
        text-align: left;
    }

    .testimonials__text {
        text-align: left;
        line-height: 2.3;

        margin-bottom: 30px;
    }

    .testimonials__stack {
        flex: 1;
        flex-shrink: 0;
        max-width: 470px;
    }

    .testimonials__decor {
        width: 100%;
        max-width: 150px;

        position: absolute;
        top: 30px;
        right: 150px;
    }

    .testimonials .slider__nav {
        display: flex;
        gap: 30px;
    }

    .testimonial__card {
        opacity: 0.4;
        pointer-events: none;
        transition: opacity 0.4s ease, transform 0.5s ease;
    }

    .testimonial__card.active {
        opacity: 1;
        pointer-events: auto;
    }
}