/* Poppins */

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.woff2") format("woff2");
    font-weight: 700;
}

/* Roboto */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
}
/* Volkhov */

@font-face {
    font-family: "Volkhov";
    src: url("../fonts/Volkhov-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Volkhov";
    src: url("../fonts/Volkhov-Bold.woff2");
    font-weight: 700;
}

/* Inter */

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}