$color-primary: #FA7436;
$color-dark: #222222;
$white: #FFFFFF;
$gray-200: #E5E5E5;

$text-primary: $color-dark;
$text-strong: #444444;
$text-secondary: #666666;
$text-light: #999999;
$text-highlight: $color-primary;

$bg-primary: $color-primary;
$bg-section-light: #FEFCFB;
$bg-section-alt: #F7F8FC;
$bg-card-light: #FFE7DB;
$button-bg: $color-primary;


$tablet: 700px;
$desktop: 1200px;


$space-1: 8px;
$space-2: 16px;
$space-3: 24px;
$space-4: 32px;
$space-5: 40px;
$space-6: 48px;
$space-7: 56px;
$space-8: 64px;
$space-9: 72px;
$space-10: 80px;
$space-11: 88px;
$space-12: 104px;
$space-13: 112px;
$space-14: 120px;
$space-15: 128px;
$space-16: 152px;
$space-17: 160px;
$space-18: 248px;
$space-19: 304px;
$space-20: 312px;
$space-21: 792px;


$transition-fast: 0.3s ease;
$transition-normal: 0.5s ease;


$radius-xs: 3px;
$radius-sm: 4px;
$radius-md: 7px;
$radius-lg: 10px;
$radius-xl: 15px;
$radius-circle: 50%;